# Виртуальное окружение (огромная папка)
.venv/
venv/

# Кэш и бинарные файлы Python
__pycache__/
*.pyc

# Ваши модели YOLO (весят много, могут быть >100 МБ)
*.pt

# Папки с датасетами и фото (обычно очень большие)
data/
dataset/

# Файлы IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db
